@model IEnumerable<TAW_HLL_Campaign.Models.Sector>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliesIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VictoryPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildSlots)
            </th>
            <th>
                Team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliesIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictoryPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildSlots)
            </td>
                <td>
                    @if (item.Team != null)
                    {
                        @Html.DisplayFor(modelItem => item.Team.Name)
                    }
                    else
                    {
                        <span>None</span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SectorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
